/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
      Change favorite color
      Default: hsl(162, 100%, 40%)
      Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
      Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)

      For more colors visit: https://colors.dopely.top/color-pedia
      -> Choose any color 
      -> click on tab (Color Conversion)
      -> Copy the color mode (HSL)
  */

  --hue: 162;
  --first-color: hsl(var(--hue), 100%, 40%);
  --first-color-alt: hsl(var(--hue), 56%, 35%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 8%, 65%);
  --body-color: hsl(228, 15%, 20%);
  --container-color: hsl(228, 15%, 15%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  /* border-sizing allows wheather to include the padding in the content-width or not, border-box ensures the padding is included in the content width avoid creating extra width space for padding */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.section__subtitle span {
  color: var(--first-color);
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  background-color: var(--container-color);
  top: 0px;
  left: 0px;
  z-index: var(--z-fixed);
  /* background-color: transparent; */

}

.nav {
  height: var(--header-height);
  display:flex;
  justify-content: space-between;
  align-items: center;

}

.nav__logo{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo span{
  color: var(--first-color);
}

.nav__toggle, .nav__close{
  display: flex;
  font-size: 1.2rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width:1023px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 10%, 0.3);
    width: 75%;
    height: 100%;
    padding: 4.5rem 0 0 3rem;
    backdrop-filter: blur(24px);
    transition: right 0.5s;
  }  
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: color .4s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}




/* Show menu */
.show-menu{
  right: 0;
}

/* Add blur to header */


/* Active link */


/*=============== HOME ===============*/
.home{
  background-color: var(--container-color);
}

.home__container{
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.home__content{
  display: grid;
  row-gap: 2rem;
}

.home__data{
  text-align: center;
}

.home__subtitle, .home__education{
  font-size: var(--bigger-font-size);
}

.home__subtitle span, .home__title{
  color: var(--first-color);
}

.home__title{
  font-size: 1.7rem;
  font-weight: var(--font-semi-bold);
}

.home__description{
  margin-block: 1rem 1.5rem;
}

.home__social{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}

.home__social-link{
  display: flex;
  background-color: var(--first-color);
  padding: 0.5rem;
  color: var(--title-color);
  font-size: 1.5rem;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  transition: transform 0.2s;
}

.home__social-link:hover{
  transform: translateY(-0.5rem);
}

.home__image{
  justify-self: center;
}

.home__blob{
  width: 20rem;
  /* background-color: aqua; */
  fill: var(--first-color);
}
/*=============== BUTTON ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: box-shadow 0.4s;
}

.button:hover{
  box-shadow: 0 8px 24px hsla(var(--hue), 100%, 50%, 0.25);
}
/*=============== ABOUT ===============*/
.about__container{
  row-gap: 2.5rem;
}

.about__data{
  text-align: center;
}
.about__description{
  margin-bottom: 2rem;
}

.about__image{
  justify-self: center;
}
.about__blob{
  width: 20rem;
}

.about__blob path{
  stroke: var(--first-color);
  /* fill: var(--first-color); */
}
/*=============== SKILLS ===============*/
.skills{
  background-color: var(--container-color);
}

.skills__container{
  row-gap: 3rem;
  padding-bottom: 2rem;
}

.skills__data{
  text-align: center;
}
.skills__description{
  margin-bottom: 2rem;
}

.skills__content, .skills__group{
  display: grid;
}

.skills__content{
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
}

.skills__group{
  row-gap: 1rem;
  list-style: decimal-leading-zero;
}

.skills__item{
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.skills__item::marker{
  color: var(--first-color);
}
/*=============== SERVICES ===============*/
.services__container{
  row-gap: 2rem;
  padding-block: 1rem;
}

.service__card{
  text-align: center;
  background-color: var(--container-color);
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  border: 2px solid var(--first-color);
}
.services__icon{
  display: block;
  font-size: 5rem;
  color: var(--first-color);
  margin-bottom: 0.8rem;
}

.services__title{
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.service__card:hover{
  border-color: var(--container-color);
}
/*=============== PROJECTS ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
